.header {
  position: relative;
  display: flex;
  align-items: center;
  width: calc(100%);
  height: 55px;
  background-color: $color-primary;
}
.header .logo-site {
  display: flex;
  align-items: center;
  width: 230px;
  height: 60px;
}
.header .logo-box {
  display: flex;
  position: absolute;
  width: 100%;
  left: 24px;
  cursor: pointer;
}

/*Logo page*/
.header .logo-box {
  position: relative;
  float: left;
  .toggle-icon {
    width: 30px;
    height: 30px;
    @include background-image($image-toggle-icon);
  }
}

.header .logo-box .cukcuk-logo {
  width: 100%;
  height: 30px;
  margin-left: 10px;
  @include background-image($image-logo);
  background-position: 0 center;
}

.header .department-info {
  padding: 0 16px;
  font-size: 16px;
  background-color: #005082;
}

.header .department-info select {
  height: 30px;
  color: $text-color;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 15px;
}

.header .department-info option {
  cursor: pointer;
  color: #000;
}

.header .account-info {
  position: absolute;
  right: 24px;
  display: flex;
  align-items: center;
  color: $text-color;
}

.header .account-info .account-avatar {
  width: 30px;
  height: 30px;
  border: 1px solid #ccc;
  border-radius: 50%;
  background-color: #fff;
  @include background-image($image-avatar);
  background-size: contain;
}

.header .account-info .account-name {
  padding: 10px;
}

.header .account-info .account-option {
  height: 16px;
  cursor: pointer;
  background: url("~@/assets/images/trigger.png") no-repeat -7px -9px;
  width: 8px;
  height: 4px;
}

.header .support {
  position: absolute;
  right: 200px;
  @include background-image($image-support);
  width: 70px;
  height: 55px;
}
.header .support:hover {
  background-color: #53a5fd;
}
.header .notification {
  position: absolute;
  right: 300px;
  content: "";
  font-family: 'Fontello';
  line-height: 1em;
  width: 70px;
  height: 55px;
}
