@font-face {
  font-family: "Fontello";
  src: url("assets/fonts/fontello.woff") format("opentype");
}
@font-face {
  font-family: "Tahoma_Bold";
  src: url("assets/fonts/Tahoma_Bold.woff") format("opentype");
}
@font-face {
  font-family: "Tahoma_Regular";
  src: url("assets/fonts/Tahoma_Regular.woff") format("opentype");
}